
html{
    font-size: 8pt;
}

body{
    margin: 0 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a135c2;
    background-image: url('./img/fondo.svg');
    background-size: cover;
}

@media screen and (min-width: 400px ){
    html{
        font-size: 10pt;
    }
}

@media screen and (min-width: 760px ){
    html{
        font-size: 12pt;
    }
    body{
        margin: 0 15vw;
    }
}

@media screen and (min-width: 1000px ){
    html{
        font-size: 14pt;
    }
}